@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap');
body {
    background-color: #EAE7DC;
    font-family: 'Noto Serif TC', serif;
    color: #20313F;
    width: 100%;
}

.brand {
    text-align: center;
}

.brand a {
    position: relative;
    top: 1em;
    text-decoration: none;
    color: #20313F;
}

.gif {
    display: inline-block;
    width: 250px;
    margin: 30px;
}

.gif img {
    width: 100%;
    padding: 30px;
}

.all {
    margin-top: 5%;
    text-align: center;
}

.all a {
    text-decoration: none;
}

.all h3 {
    writing-mode: sideways-rl;
    color: #20313F;
}

#aperture {
    -webkit-animation: fadeInbottom 1s both 2s 0.15s;
    -moz-animation: fadeInbottom 1s both 0.15s;
    -o-animation: fadeInbottom 1s both 0.15s;
    animation: fadeInbottom 1s both 0.15s;
}

#iso {
    -webkit-animation: fadeInbottom 1s both 2s 0.55s;
    -moz-animation: fadeInbottom 1s both 0.55s;
    -o-animation: fadeInbottom 1s both 0.55s;
    animation: fadeInbottom 1s both 0.55s;
}

#shutter {
    -webkit-animation: fadeInbottom 1s both 2s 0.35s;
    -moz-animation: fadeInbottom 1s both 0.35s;
    -o-animation: fadeInbottom 1s both 0.35s;
    animation: fadeInbottom 1s both 0.35s;
}

@media only screen and (min-width: 600px) and (max-width:991.33px) {
    .all {
        margin: 0;
    }
}

@media only screen and (max-width:600px) {
    .all {
        margin: 0;
    }
}

@-webkit-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInbottom {
    0% {
        opacity: 0;
        -o-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInbottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}